

.div-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;

}

.h1-loader{
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

.section-cards{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-componet{
  
}