.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  .titulo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .op-form {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .buttom-form {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .buttom-form:hover {
    background-color: #3e8e41;
  }
  